.home-menu {
  @include clearfix();
}

.home-menu--content {
  float: left;

  h2 {
    color: $black;
  }

}

.home-menu--img {
  float: right;
}

.home-menu--img img {
  width: 45%;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: $radius;
}
