.home-about,
.home-reservations,
.home-menu {
  text-align: center;

  h2 {
    @include font-fancy($fontFancySize: 100px);
  }
  h3 {
    margin-top: -70px;
  }
}

#about,
#menu {
  color: $black;
  background: $white;
}

.home-about--img,
.home-reservations--img,
.home-menu--img {
  width: 45%;
  border-radius: $radius;

  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

.home-about,
.home-reservations,
.home-menu {
  padding: ($pad * 2);
  @include clearfix();
}

.home-about--content,
.home-reservations--content,
.home-menu--content {
  width: 45%;

  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
}
