body {
  font-weight: $font__weight;
  font-size: $font__size;
  letter-spacing: $font__spacing;
}

.site-header,
.site-footer,
.home-hero,
.home-about,
.home-reservations,
.home-menu {
  width: $wrap;
  margin: 0 auto;
}
